@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

// ブログ詳細のスタイル
@layer base {
  .blogContent {
    h1 {
      @apply text-4xl sm:text-5xl font-bold mt-8 mb-4;
    }
    h2 {
      @apply mb-4 text-xl sm:text-2xl font-bold;
    }
    h3 {
      @apply text-lg sm:text-xl;
    }
  }
}

.ellipsis {
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.gridContainer {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-auto-flow: row;
  grid-template-areas:
    "title"
    "abstract"
    "date";
}

.title {
  grid-area: title;
}

.abstract {
  grid-area: abstract;
}

.date {
  grid-area: date;
}
